:root {
  --mobile-height: 30.55em;
}

@media (max-height: 668px) {
  :root {
    --mobile-height: 39vh; /* Adjust this value as needed for mobile */
  }
}
@media (width: 412px) {
  :root {
    --mobile-height: 31.7em; /* Adjust this value as needed for mobile */
  }
}

.showForMobile {
  display: none !important;
}

.showForLarge {
  display: block !important;
}

.expense-table {
  height: 100% !important;
  max-height: var(--mobile-height) !important;
  scrollbar-width: thin;
}

@media (max-width: 992px) {
  .small-screen {
    height: 100dvh !important;
  }
  .showForMobile {
    display: block !important;
  }
  .showForLarge {
    display: none !important;
  }
  .card-height-small-screen {
    overflow: hidden;
    /* height: 45.8rem !important; */
    overflow-y: auto;
  }
}
